src/main/app/experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" 
	xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" 
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
	xmlns:json="http://www.mulesoft.org/schema/mule/json" 
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd" >

	<context:property-placeholder location="common.properties, mule.${mule.env}.properties"/>
    
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="${https.port}" doc:name="HTTP Listener Configuration" protocol="HTTPS">
        <tls:context>
            <tls:key-store type="jks" path="${keystore.location}" alias="${key.alias}" keyPassword="${keystore.password}" password="${key.password}"/>
        </tls:context>

    </http:listener-config>
    
<!--     <api-platform-gw:api id="${api.id}" apiName="${api.name}" version="${api.version}" flowRef="api-main" doc:name="API Autodiscovery"></api-platform-gw:api> -->
        
    <apikit:config name="api-config" raml="healthcare-sfdchealth2fhir-ehr-experience-api.raml" consoleEnabled="true" consolePath="console" doc:name="Router">
        <apikit:flow-mapping resource="/human/loadClinicalData" action="post" flow-ref="post:/human/loadClinicalData:api-config"/>


    </apikit:config>
    <http:request-config name="Patient_API" host="${api.patient.host}" port="${api.patient.port}" doc:name="HTTP Request Configuration" protocol="HTTPS" basePath="${api.patient.basepath}">
        <tls:context>
            <tls:trust-store path="${truststore.location}" password="${truststore.password}" type="jks"/>
      </tls:context>
        <http:raml-api-configuration location="healthcare-ehr2fhir-patient-process-api.raml"/>

    </http:request-config>
    <http:request-config name="Observation_API" host="${api.observation.host}" port="${api.observation.port}" doc:name="HTTP Request Configuration" basePath="${api.observation.basepath}" protocol="HTTPS">
        <tls:context>
            <tls:trust-store path="${truststore.location}" password="${truststore.password}" type="jks"/>
      </tls:context>
        <http:raml-api-configuration location="healthcare-ehr2fhir-observation-process-api.raml"/>

	</http:request-config>
    <http:request-config name="Condition_API" host="${api.condition.host}" port="${api.condition.port}" doc:name="HTTP Request Configuration" basePath="${api.condition.basepath}" protocol="HTTPS">
    	<tls:context>
            <tls:trust-store path="${truststore.location}" password="${truststore.password}" type="jks"/>
      </tls:context>
        <http:raml-api-configuration location="healthcare-ehr2fhir-condition-process-api.raml"/>

    </http:request-config>

    <http:request-config name="MedicationPrescription_API" host="${api.medicationprescription.host}" port="${api.medicationprescription.port}"  doc:name="HTTP Request Configuration" basePath="${api.medicationprescription.basepath}" protocol="HTTPS">
         <tls:context>
            <tls:trust-store path="${truststore.location}" password="${truststore.password}" type="jks"/>
      </tls:context>
        <http:raml-api-configuration location="healthcare-ehr2fhir-medication-process-api.raml"/>
   
    </http:request-config>
    <http:request-config name="Health_cloud_system_API" host="${api.systemApi.port}" port="${api.systemApi.host}" basePath="${api.systemApi.basepath}" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="healthcare-fhir2sfdchealth-ehr-system-api.raml"/>


    </http:request-config>
    <http:request-config name="AllergyIntolerance_API" protocol="HTTPS" host="${api.allergyIntolerance.host}" port="${api.allergyIntolerance.port}" basePath="${api.allergyIntolerance.basepath}" doc:name="HTTP Request Configuration">
        <tls:context>
            <tls:trust-store path="${truststore.location}" password="${truststore.password}" type="jks"/>
        </tls:context>
        <http:raml-api-configuration location="healthcare-ehr2fhir-allergyintolerance-process-api.raml"/>
    </http:request-config>
    <http:request-config name="Practitioner_API" protocol="HTTPS" host="${api.practitioner.host}" port="${api.practitioner.port}" basePath="${api.practitioner.basepath}" doc:name="HTTP Request Configuration">
        <http:basic-authentication username="" password=""/>
        <tls:context>
            <tls:trust-store path="${truststore.location}" password="${truststore.password}" type="jks"/>
        </tls:context>
        <http:raml-api-configuration location="healthcare-ehr2fhir-practitioner-process-api.raml"/>
    </http:request-config>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>

     <flow name="post:/human/loadClinicalData:api-config"  >
        <json:json-to-object-transformer doc:name="JSON to Object"/>
        <dw:transform-message doc:name="Set patientIDType and patientID variables">
            <dw:set-variable variableName="patientID"><![CDATA[%dw 1.0
%output application/java
---
payload.patientID]]></dw:set-variable>
            <dw:set-variable variableName="patientIDType"><![CDATA[%dw 1.0
%output application/java
---
payload.patientIDType]]></dw:set-variable>
        </dw:transform-message>
        <async doc:name="Async">
            <scatter-gather doc:name="Scatter-Gather">
                <flow-ref name="Patient" doc:name="Patient"/>
                <flow-ref name="Condition" doc:name="Condition"/>
                <flow-ref name="Observation" doc:name="Observation"/>
                <flow-ref name="MedicationPrescription" doc:name="MedicationPrescription"/>
                <flow-ref name="AllergyIntolerance" doc:name="AllergyIntolerance"/>
                <flow-ref name="Practitioner" doc:name="Practitioner"/>
            </scatter-gather>
        </async>
        <logger message="The POST process has finished." level="INFO" doc:name="Log success"/>
        <dw:transform-message doc:name="Create response JSON">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{"message": "The POST process has finished."}]]></dw:set-payload>
        </dw:transform-message>

    </flow>
    <sub-flow name="Patient">


        <http:request config-ref="Patient_API" path="/patients/{patientIDType}/{patientID}" method="GET" doc:name="GET Patient">
            <http:request-builder>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>


            </http:request-builder>
        </http:request>


        <http:request config-ref="Health_cloud_system_API" path="/patients/{patientIDType}/{patientID}" method="PUT" doc:name="PUT Patient into SFDC">
            <http:request-builder>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>


            </http:request-builder>
        </http:request>
    </sub-flow>
    <sub-flow name="Practitioner">
        <http:request config-ref="Practitioner_API" path="/practitioners" method="GET" doc:name="GET Practitioners"/>
        <http:request config-ref="Health_cloud_system_API" path="/practitioners" method="PUT" doc:name="PUT Practitioners into SFDC">
        </http:request>
    </sub-flow>
    <sub-flow name="Condition">


        <http:request config-ref="Condition_API" path="/patients/{patientIDType}/{patientID}/conditions" method="GET" doc:name="GET Condition">
            <http:request-builder>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>


            </http:request-builder>
        </http:request>

        <http:request config-ref="Health_cloud_system_API" path="/patients/{patientIDType}/{patientID}/conditions" method="POST" doc:name="POST Conditions into SFDC">
            <http:request-builder>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>

            </http:request-builder>
        </http:request>
    </sub-flow>
    <sub-flow name="Observation">


        <http:request config-ref="Observation_API" path="/patients/{patientIDType}/{patientID}/observations" method="GET" doc:name="GET Observation">
            <http:request-builder>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>

            </http:request-builder>
        </http:request>

        <http:request config-ref="Health_cloud_system_API" path="/patients/{patientIDType}/{patientID}/observations" method="POST" doc:name="POST Observations into SFDC">
            <http:request-builder>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>

            </http:request-builder>
        </http:request>
    </sub-flow>
    <sub-flow name="MedicationPrescription">


        <http:request config-ref="MedicationPrescription_API" path="/patients/{patientIDType}/{patientID}/medicationorders" method="GET" doc:name="GET MedicationPrescription">
            <http:request-builder>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>


            </http:request-builder>
        </http:request>

        <http:request config-ref="Health_cloud_system_API" path="/patients/{patientIDType}/{patientID}/medications" method="POST" doc:name="POST Medications into SFDC">
            <http:request-builder>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>


            </http:request-builder>
        </http:request>
    </sub-flow>
    <sub-flow name="AllergyIntolerance">
        <http:request config-ref="AllergyIntolerance_API" path="/patients/{patientIDType}/{patientID}/allergies" method="GET" doc:name="GET AllergyIntolerance">
            <http:request-builder>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>
            </http:request-builder>
        </http:request>
        <http:request config-ref="Health_cloud_system_API" path="/patients/{patientIDType}/{patientID}/allergies" method="POST" doc:name="POST Allergies into SFDC">
            <http:request-builder>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>
            </http:request-builder>
        </http:request>
    </sub-flow>

    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
    
        <apikit:mapping statusCode="401">
            <apikit:exception value="org.mule.api.security.UnauthorisedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unauthorized&quot; ,&quot;service&quot; : &quot;clinicalData&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot;,&quot;service&quot; : &quot;clinicalData&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot;,&quot;service&quot; : &quot;clinicalData&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; ,&quot;service&quot; : &quot;clinicalData&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; ,&quot;service&quot; : &quot;clinicalData&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; ,&quot;service&quot; : &quot;clinicalData&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="500">
            <apikit:exception value="java.lang.Exception"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{&quot;message&quot; : &quot;Internal Server Error&quot;,&quot;service&quot; : &quot;clinicalData&quot;, &quot;reason&quot; : &quot;#[exception.getSummaryMessage()]&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
