src/main/app/experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" 
	xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" 
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
	xmlns:json="http://www.mulesoft.org/schema/mule/json" 
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd" >
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="${https.port}" doc:name="HTTP Listener Configuration" protocol="HTTPS">
        <tls:context>
            <tls:key-store type="jks" path="${keystore.location}" alias="${key.alias}" keyPassword="${key.password}" password="${keystore.password}"/>
        </tls:context>
    </http:listener-config>
    
    <api-platform-gw:api id="${api.id}" apiName="${api.name}" version="${api.version}" flowRef="api-main" doc:name="API Autodiscovery"></api-platform-gw:api>
        
    <apikit:config name="api-config" raml="healthcare-sfdchealth2fhir-ehr-experience-api.raml" consoleEnabled="true" consolePath="console" doc:name="Router">
        <apikit:flow-mapping resource="/human/loadClinicalData" action="post" flow-ref="post:/human/loadClinicalData:api-config"/>

    </apikit:config>
    <http:request-config name="Patient_API" host="${api.patient}" port="${api.patient.port}" doc:name="HTTP Request Configuration" protocol="HTTPS" basePath="/api">
        <tls:context>
            <tls:trust-store path="${truststore.location}" password="${truststore.password}" type="jks"/>
      </tls:context>
        <http:raml-api-configuration location="healthcare-ehr2fhir-patient-process-api.raml"/>
    </http:request-config>
    <http:request-config name="Observation_API" host="${api.observation}" port="${api.observation.port}" doc:name="HTTP Request Configuration" basePath="/api" protocol="HTTPS">
        <tls:context>
            <tls:trust-store path="${truststore.location}" password="${truststore.password}" type="jks"/>
      </tls:context>
        <http:raml-api-configuration location="healthcare-ehr2fhir-observation-process-api.raml"/>
	</http:request-config>
    <http:request-config name="Condition_API" host="${api.condition}" port="${api.condition.port}" doc:name="HTTP Request Configuration" basePath="/api" protocol="HTTPS">
    	<tls:context>
            <tls:trust-store path="${truststore.location}" password="${truststore.password}" type="jks"/>
      </tls:context>
      <http:raml-api-configuration location="healthcare-ehr2fhir-condition-process-api.raml"/>
    </http:request-config>
    <sfdc:config name="Salesforce__Basic_authentication" username="${sfdc.username}" password="${sfdc.password}" securityToken="${sfdc.token}" doc:name="Salesforce: Basic authentication"/>
    <http:request-config name="MedicationPrescription_API" host="${api.medicationprescription}" port="${api.medicationprescription.port}"  doc:name="HTTP Request Configuration" basePath="/api" protocol="HTTPS">
         <tls:context>
            <tls:trust-store path="${truststore.location}" password="${truststore.password}" type="jks"/>
      </tls:context>
        <http:raml-api-configuration location="healthcare-ehr2fhir-medication-process-api.raml"/>   
    </http:request-config>
    <http:request-config name="Health_cloud_system_API" host="${api.systemApi}" port="${api.systemApi.port}" basePath="/api" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="healthcare-fhir2sfdchealth-ehr-system-api.raml"/>

    </http:request-config>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>

     <flow name="post:/human/loadClinicalData:api-config">
        <json:json-to-object-transformer doc:name="JSON to Object"/>
        <dw:transform-message doc:name="Set patientIDType and patientID variables">
            <dw:set-variable variableName="patientID"><![CDATA[%dw 1.0
%output application/java
---
payload.patientID]]></dw:set-variable>
            <dw:set-variable variableName="patientIDType"><![CDATA[%dw 1.0
%output application/java
---
payload.patientIDType]]></dw:set-variable>
        </dw:transform-message>
        <scatter-gather doc:name="Scatter-Gather">
            <flow-ref name="loadClinicalDataSub_Flow" doc:name="Call loadClinicalDataSub_Flow"/>
            <flow-ref name="loadClinicalDataSub_Flow_Condition" doc:name="Call loadClinicalDataSub_Flow_Condition"/>
            <flow-ref name="loadClinicalDataSub_Flow_Observation" doc:name="Call loadClinicalDataSub_Flow_Observation"/>
            <flow-ref name="loadClinicalDataSub_MedicationPrescription" doc:name="Call loadClinicalDataSub_Flow_MedicationPrescription"/>
        </scatter-gather>
        <logger message="The POST process has finished." level="INFO" doc:name="Log the success"/>
        <dw:transform-message doc:name="Create response JSON">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{"message": "The POST process has finished."}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <sub-flow name="loadClinicalDataSub_Flow">

        <http:request config-ref="Patient_API" path="/patients/{patientIDType}/{patientID}" method="GET" doc:name="GET Patient">
            <http:request-builder>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>

            </http:request-builder>
        </http:request>

        <http:request config-ref="Health_cloud_system_API" path="/patients/{patientIDType}/{patientID}" method="PUT" doc:name="PUT Patient into SFDC">
            <http:request-builder>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>

            </http:request-builder>
        </http:request>
    </sub-flow>
    <sub-flow name="loadClinicalDataSub_Flow_Condition">

        <http:request config-ref="Condition_API" path="/patients/{patientIDType}/{patientID}/conditions" method="GET" doc:name="GET Condition">
            <http:request-builder>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>

            </http:request-builder>
        </http:request>

        <http:request config-ref="Health_cloud_system_API" path="/patients/{patientIDType}/{patientID}/conditions" method="POST" doc:name="POST Conditions into SFDC">
            <http:request-builder>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>

            </http:request-builder>
        </http:request>
    </sub-flow>
    <sub-flow name="loadClinicalDataSub_Flow_Observation">

        <http:request config-ref="Observation_API" path="/patients/{patientIDType}/{patientID}/observations" method="GET" doc:name="GET Observation">
            <http:request-builder>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>

            </http:request-builder>
        </http:request>

        <http:request config-ref="Health_cloud_system_API" path="/patients/{patientIDType}/{patientID}/observations" method="POST" doc:name="POST Observations into SFDC">
            <http:request-builder>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>

            </http:request-builder>
        </http:request>
    </sub-flow>
    <sub-flow name="loadClinicalDataSub_MedicationPrescription">

        <http:request config-ref="MedicationPrescription_API" path="/patients/{patientIDType}/{patientID}/medicationorders" method="GET" doc:name="GET MedicationPrescription">
            <http:request-builder>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>

            </http:request-builder>
        </http:request>

        <http:request config-ref="Health_cloud_system_API" path="/patients/{patientIDType}/{patientID}/medications" method="POST" doc:name="POST Medications into SFDC">
            <http:request-builder>
                <http:uri-param paramName="patientIDType" value="#[flowVars.patientIDType]"/>
                <http:uri-param paramName="patientID" value="#[flowVars.patientID]"/>

            </http:request-builder>
        </http:request>
    </sub-flow>

    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
    
        <apikit:mapping statusCode="401">
            <apikit:exception value="org.mule.api.security.UnauthorisedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unauthorized&quot; ,&quot;service&quot; : &quot;clinicalData&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot;,&quot;service&quot; : &quot;clinicalData&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot;,&quot;service&quot; : &quot;clinicalData&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; ,&quot;service&quot; : &quot;clinicalData&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; ,&quot;service&quot; : &quot;clinicalData&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; ,&quot;service&quot; : &quot;clinicalData&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="500">
            <apikit:exception value="java.lang.Exception"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{&quot;message&quot; : &quot;Internal Server Error&quot;,&quot;service&quot; : &quot;clinicalData&quot;, &quot;reason&quot; : &quot;#[exception.getSummaryMessage()]&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
